.contactItem {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.contactItem + .contactItem {
  margin-top: 10px;
}

.contactDelete {
  margin-left: 20px;
  background-image: url('./wastebin.png');
  width: 30px;
  height: auto;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  background-color: transparent;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactDelete:hover {
  transform: scale(1.3);
}
